<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>FilterSession</filter-name>
        <filter-class>com.sap.filters.FilterSession</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterSession</filter-name>
        <servlet-name>formController2</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterSession</filter-name>
        <servlet-name>cpController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterSession</filter-name>
        <servlet-name>controladorF</servlet-name>
    </filter-mapping>
    <listener>
        <listener-class>com.sap.controller.SessionCountListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>com.sap.controller.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>formController2</servlet-name>
        <servlet-class>com.sap.controller.formController2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cpController</servlet-name>
        <servlet-class>com.sap.controller.cpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorF</servlet-name>
        <servlet-class>com.sap.controller.controladorF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DescargarLog</servlet-name>
        <servlet-class>com.sap.controller.DescargarLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Subir</servlet-name>
        <servlet-class>com.sap.controller.Subir</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>formController2</servlet-name>
        <url-pattern>/controladorCC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cpController</servlet-name>
        <url-pattern>/controladorCP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorF</servlet-name>
        <url-pattern>/controladorF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DescargarLog</servlet-name>
        <url-pattern>/DescargarLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Subir</servlet-name>
        <url-pattern>/Subir</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>
</web-app>
